<!doctype html>
<meta charset=utf-8>
<title>{{page.title}}</title>
<link rel='stylesheet' href='/facade/normalize.css'>
<link rel='stylesheet' href='/facade/site.css'>
<link rel='alternate' type='application/rss+xml' title='Rob Mayoff' href='http://qwan.org/feed/'>
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% if page.math %}
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
<script type="text/javascript">
    MathJax.Hub.Config({
        "HTML-CSS": { availableFonts:[], scale: 85 },
        "tex2jax": { inlineMath: [ [ '$', '$' ] ] }
    });
    MathJax.Hub.Register.StartupHook("TeX Jax Ready",function () {
        var TEX = MathJax.InputJax.TeX;
        var MML = MathJax.ElementJax.mml;
        TEX.Definitions.macros.cancel  =
            ["myCancel",MML.NOTATION.UPDIAGONALSTRIKE];
        TEX.Definitions.macros.bcancel =
            ["myCancel",MML.NOTATION.DOWNDIAGONALSTRIKE];
        TEX.Parse.Augment({
            myCancel: function (name,notation) {
                var mml = this.ParseArg(name);
                this.Push(MML.menclose(mml).With({notation:notation}));
            }
        });
    });
</script>
{% endif %}
<script>var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-25371980-3"]);_gaq.push(["_setDomainName",".qwan.org"]);_gaq.push(["_trackPageview"]);(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})()</script>
{% if page.url != '/' %}
<a id='indexLink' href='/'>⬅ Back to Rob Mayoff's Site Index</a>
{% endif %}
<div id='page'>
    <div id='content'>{{content}}</div>
    {% if page.allowComments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_developer = 1;
        var disqus_shortname = 'robmayoff';
        var disqus_url = 'http://qwan.org{{url}}';
        {% if page.wordpress_id %}
        var disqus_identifier = '{{page.wordpress_id}}';
        {% endif %}
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}

</div>

